{% extends "base_template.html" %}
{% block content %}
        <div class="jumbotron">
            <form class="form-updateGraph" method="POST" action="/updateGraph" style="max-width: 400px; margin: auto; width: 60%;">
                <button id="btnUpdateGraph" class="btn btn-lg btn-primary btn-block" type="submit">Update Graph</button>
            </form>
        </div>



        <div class="jumbotron">
            {% if data %}
            <p class="lead" style="text-align: left; padding-left: 20px">
                <h2>Latest sensors data</h2>
            </p>
            <table style="position: relative;max-width: 900px;width: 100%; border: 1px dashed darkgray; background-color: white" >
                <thead style="border: 1px dashed darkgray">
                    <tr style="row-span: 2">
                        <td width="40%" style="text-align: left;padding-left: 20px;"> <h3> Event Time </h3> </td>
                        <td width="40%" style="text-align: left;padding-left: 20px;"> <h3> Event Type </h3> </td>
                        <td width="20%" style="text-align: left;padding-left: 20px;"> <h3> Event Value </h3> </td>
                    </tr>
                </thead>
                <tbody style="border: 1px dashed darkgray">
                    {% for row in data %}
                        <tr>
                            <td width="40%" style="text-align: left;padding-left: 20px;"> {{row[0]}} </td>
                            <td width="40%" style="text-align: left;padding-left: 20px;"> {{row[2]}} </td>
                            <td width="20%" style="text-align: left;padding-left: 20px;"> {{row[1]}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
            <br />
            {% endif %}

            <form class="form-updateData" method="POST" action="/updateData" style="max-width: 400px; margin: auto; width: 60%;">
                <button id="btnUpdateData" class="btn btn-lg btn-primary btn-block" type="submit">Update Data</button>
            </form>
        </div>

        {% if messageInfo %}
            <div class="info">
                {{messageInfo}}
            </div>
        {% endif %}
        {% if messageError %}
            <div class="error">
                {{messageError}}
            </div>
        {% endif %}
        <div class="jumbotron">

            <form class="form-turnOnTap" name="formTurnOnTap" id="formTurnOnTap" method="POST" action="/turnOnTap" style="max-width: 400px; margin: auto; width: 60%;">
                {{ formTurnOnTap.csrf_token }}
                <table width="100%">
                    <tr>
                        <td width="60%" style="text-align: left;padding-left: 20px; padding-bottom: 20px">
                            {{ formTurnOnTap.secondsInFloat.label }}
                        </td>
                        <td width="40%" style="text-align: left;padding-right: 20px; padding-bottom: 20px">
                            {{ formTurnOnTap.secondsInFloat(size=4, class_="form-control") }}
                        </td>
                    </tr>
                </table>
                <button id="btnTurnOnTap" class="btn btn-lg btn-primary btn-block" type="submit">Turn On Tap </button>
            </form>
        </div>
{% endblock %}'
