<!DOCTYPE html>
<html lang="en">

<head>
    <img src="/home.ico" style="width: 100px; height: 100px;"/>
    <title>One Plant Irrigation App</title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="container" style="!important;max-width: 1050px">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/dashboard">Dashboard</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li role="presentation"><a href="/appConfig">App Config</a>
                        </li>
                        <li role="presentation"><a href="/logout">Logout</a>
                        </li>
                    {% else %}
                        <li role="presentation"><a href="/login">Login</a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            <h3 class="text-muted">Python Flask - One Plant Irrigation App</h3>
        </div>

        {% if messages %}
            <div class="jumbotron">
                <div class="alert alert-danger">
                    <strong>Error:</strong>
                    <ul>
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}


        {% block content %}
        {% endblock %}

        <footer class="footer">
            <p>&copy;2016</p>
        </footer>

    </div>
</body>

</html>