{% extends "base.html" %}
{% block content %}
        <div class="jumbotron">
            <h2>Online - Moisture Graph Last {{graph_no_of_hours}} Hr(s)</h2>
            <p class="lead"></p>

            {% if isMobileRequest %}
                <iframe style="width: 100%; height: 600px;" frameborder="0" scrolling="no" src="https://plot.ly/~omkarjava0103/4.embed"></iframe>
            {% else %}
                <iframe style="width: 100%; height: 800px;" frameborder="0" scrolling="no" src="https://plot.ly/~omkarjava0103/4.embed"></iframe>
            {% endif %}
        </div>

        <div class="jumbotron">
            <h2>Moisture Data Last {{data_no_of_hours}} Hr(s)</h2>
            <p class="lead"></p>
            <table style="position: relative;max-width: 900px;width: 100%; border: 1px dashed darkgray; background-color: white" >
                <thead style="border: 1px dashed darkgray">
                    <tr style="row-span: 2">
                        <td width="50%"> <h3> Datetime </h3> </td>
                        <td width="50%"> <h3> Analog value </h3> </td>
                    </tr>
                </thead>
                <tbody style="border: 1px dashed darkgray">
                    {% for row in data %}
                        <tr>
                            <td width="50%"> {{row.eventTime}} </td>
                            <td width="50%"> {{row.eventAnalogValue}} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!--<div class="jumbotron">-->
            <!--<h2>Local - Moisture Graph Last {{graph_no_of_hours}} Hr(s)</h2>-->
            <!--<p class="lead"></p>-->
            <!--<img src="/graph.png" style="width: 100%; height: 100%;"/>-->
            <!--&lt;!&ndash;<p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--</div>-->
{% endblock %}'
